.title-container{
  display: block;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 50px;
  width: 100%;
}

.search-container{
  display: block;
  margin: auto;
  width: 40%;
  align-items: center;
  align-self: center;

}
