.jumbotron{
  margin: auto;
}

.title{
  margin: auto;
  text-align: center;
  font-size: 3em;
}

.form-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.card{
  margin: auto;
  width: 400px;
}

.buttons-container{
  display: flex;
  justify-content: center;
}

#button{
  margin:15px;
}
