.jumbotron{
  margin: auto;
}

.title{
  margin: auto;
  text-align: center;
  font-size: 3em;
}

.search-navbar{
  margin: auto;
  height: 100px;
  display: flex;
  background-color: #DCDCDC !important;
}

.mainSearch, .providerInfo-popdown, .additionalFilter-popdown, .stats-popdown{
  padding: 10px;
  margin: auto 2px;
}

.search-container-block{
  width: 100%;
  display: flex;
}

.search-container-block:after {
  content: "";
  display: table;
  clear: both;
}

.search-results-container{
  float: left;
  width: 25%;
  height: 100vh;
}

.google-map-container{
  float: left;
  width: 75%;
}

.search-text{
  margin: auto;
  margin-right: 20px;
}

.bp3-slider{
  margin: 5px auto !important;
  width: 95% !important;
}

#button{
  margin: auto 10px;
}
