.StateStats{
  background-color: rgb(249, 249, 251);
  width: 100%;
}

.state-results-container:after {
  content: "";
  display: table;
  clear: both;
}

.state-results-container{
  float: left;
  width: 20%;
  height: 100vh;
}

.map-container{
  float: left;
  width: 80%;
  height: 100vh;
  display: flex;
  padding-top: 150px;
}

.USA-Map{
  height: 100%;
  margin: auto;
}
